[Unit]
Description=Check Bite workbox package updates each week

[Timer]
OnCalendar=Mon *-*-* 09:00:00
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
